In [1]:
import numpy as np
import pandas as pd

In [2]:
#https://www.kaggle.com/shivamb/real-or-fake-fake-jobposting-prediction
df=pd.read_csv('fake_job_postings.csv')

# Fake Job Description Prediction:

This dataset contains 18K job descriptions out of which about 800 are fake. The data consists of both textual information and meta-information about the jobs. The dataset can be used to create classification models which can learn the job descriptions which are fraudulent.

In [3]:
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
job_id                 17880 non-null int64
title                  17880 non-null object
location               17534 non-null object
department             6333 non-null object
salary_range           2868 non-null object
company_profile        14572 non-null object
description            17879 non-null object
requirements           15185 non-null object
benefits               10670 non-null object
telecommuting          17880 non-null int64
has_company_logo       17880 non-null int64
has_questions          17880 non-null int64
employment_type        14409 non-null object
required_experience    10830 non-null object
required_education     9775 non-null object
industry               12977 non-null object
function               11425 non-null object
fraudulent             17880 non-null int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

### we can see that there are a lot of nan values in many of the columns .we will try to replace that during the preprocessing.

In [5]:
df.columns

Index(['job_id', 'title', 'location', 'department', 'salary_range',
       'company_profile', 'description', 'requirements', 'benefits',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')

# DATA CLEANING

lets see if any rows have been duplicated.
since job id is unique, lets see if we have any rows with same job_id

1)eventhough job_ids are unique the other columns are similar ,so we have to remove such rows.

In [6]:
data=pd.DataFrame(df)

In [7]:
data=pd.DataFrame(data.drop_duplicates(subset={'title','location','department','description'},inplace=False,keep='first'))

In [8]:
data.shape

(17393, 18)

# DATA PREPROCESSING

we have categorical , numerical and text features in our dataset

Lets identify them and preprocess then one by one.

## CATEGORICAL FEATURES:-

In [9]:
data['job_id'].unique

<bound method Series.unique of 0            1
1            2
2            3
3            4
4            5
5            6
6            7
7            8
8            9
9           10
10          11
11          12
12          13
13          14
14          15
15          16
16          17
17          18
18          19
19          20
20          21
21          22
22          23
23          24
24          25
25          26
26          27
27          28
28          29
29          30
         ...
17850    17851
17851    17852
17852    17853
17853    17854
17854    17855
17855    17856
17856    17857
17857    17858
17858    17859
17859    17860
17860    17861
17861    17862
17862    17863
17863    17864
17864    17865
17865    17866
17866    17867
17867    17868
17868    17869
17869    17870
17870    17871
17871    17872
17872    17873
17873    17874
17874    17875
17875    17876
17876    17877
17877    17878
17878    17879
17879    17880
Name: job_id, Length: 17393, dtype: int64>

In [9]:
data=data.drop('job_id',axis=1) #here job_id doesnt have any significance ..hence dropping the column

In [10]:
data.shape

(17393, 17)

In [11]:
data.head(5)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

# 2)department

In [12]:
(data['department'].value_counts())

Sales                                   539
Engineering                             473
Marketing                               395
Operations                              264
IT                                      222
Development                             145
Product                                 111
Information Technology                   80
Design                                   76
Technology                               75
Customer Service                         72
Finance                                  69
HR                                       56
tech                                     55
R&D                                      54
Creative                                 48
Client Services                          45
Retail                                   45
Product Development                      36
Oil and Gas                              32
Business Development                     32
Production                               31
Administrative                           30
Maintenance                              29
Human Resources                          29
Accounting                               29
Tech                                     29
Technical                                28
Clerical                                 26
Administration                           26
                                       ...
CSS                                       1
Social Media Management                   1
Systems                                   1
OTC                                       1
Sales Intern                              1
JAAMRRB                                   1
Telecom Network                           1
Automotive and Parts Mfg                  1
Advisory                                  1
Voxburner Bespoke Research                1
House Cleaning Services                   1
Product Development - Test                1
Marketing / Customer Service              1
Database                                  1
MIS                                       1
Events                                    1
Small Luxury Lodge                        1
Technology (Application Development)      1
Administrative Office                     1
SSG                                       1
Inbound                                   1
reception                                 1
Software Services                         1
Web dev                                   1
Cardio Vascular                           1
Client Access Team                        1
High-Tech Engineering                     1
Food Service                              1
Jacksonville                              1
Search & Performance                      1
Name: department, Length: 1337, dtype: int64

In [14]:
data['department']=data['department'].str.lower()
data['department']=data['department'].str.strip()
data['department']=data['department'].str.replace('&','')
data['department']=data['department'].str.replace('.','_')
data['department']=data['department'].str.replace(',','_')
data['department']=data['department'].str.replace('/','')
data['department']=data['department'].str.replace('-','_')
data['department']=data['department'].str.replace(' ','_')
data['department']=data['department'].str.replace(' __ ','_')
data['department']=data['department'].str.replace('__','_')
data['department']=data['department'].str.replace('|','_')
data['department']=data['department'].str.replace(':','_')
data['department']=data['department'].str.replace('__','_')
data['department']=data['department'].str.replace('πληροφορικη','computerscience')
data['department'].fillna('sales',inplace=True) #filling nan values with 'unspecified'

In [16]:
m=pd.DataFrame(data['department'].unique())
m

                                                      0
0                                             marketing
1                                               success
2                                                 sales
3                                            androidpit
4                                                    hr
5                                                    rd
6                                            engagement
7                                    businessfriend_com
8                                               medical
9                                                 field
10                                                  all
11                                               design
12                                           production
13                                                  icm
14                                     general_services
15                                          engineering
16                                                   it
17                                 business_development
18                                      human_resources
19                                           oil_energy
20                                          marketplace
21                                       cloud_services
22                                                   fp
23                                      client_services
24                                           operations
25                                            materials
26                                                 tech
27                       sales_and_business_development
28                                          development
29                                  incubation_services
...                                                 ...
1182                                    tech_innovation
1183                                        conferences
1184                                               _net
1185                                               bcfb
1186                                        google_apps
1187                          front_desk_administration
1188                                  technical_service
1189                       wright_satellite_connections
1190                         operations_sales_marketing
1191                                 investment_banking
1192                                       trs_clinical
1193                                north_star_shipping
1194                                          edinburgh
1195                                                 td
1196                              business_developmment
1197                                        hospitality
1198                                  business_strategy
1199                        holiday_inn_raleigh_cary_nc
1200                               development_services
1201  6_locations_in_the_united_states_3_in_canada_a...
1202                                    credit_strategy
1203                                            styling
1204                         it_administrator_developer
1205                                       work_at_home
1206                                          reception
1207                        real_estate_insurance_sales
1208                                         hotel_jobs
1209  data_entry_clerical_admin_administrative_assis...
1210                                     admin_clerical
1211                                administrative_dept

[1212 rows x 1 columns]

In [17]:
data.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,Marketing Intern,"US, NY, New York",marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",sales,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,Account Executive - Washington DC,"US, DC, Washington",sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,Bill Review Manager,"US, FL, Fort Worth",sales,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

# 2)employment type

In [18]:
data['employment_type'].value_counts()

Full-time    11272
Contract      1509
Part-time      755
Temporary      233
Other          224
Name: employment_type, dtype: int64

In [19]:
data['employment_type']=data['employment_type'].str.replace('-','_')
data['employment_type']=data['employment_type'].str.lower()

In [20]:
data['employment_type'].isnull().values.sum()

3400

there are null values in this column.

.since there are considerably high amount of full time people, we will fill nan values with 'full_time'

In [21]:
data['employment_type'].fillna('full_time',inplace=True)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17393 entries, 0 to 17879
Data columns (total 17 columns):
title                  17393 non-null object
location               17052 non-null object
department             17393 non-null object
salary_range           2798 non-null object
company_profile        14140 non-null object
description            17392 non-null object
requirements           14760 non-null object
benefits               10359 non-null object
telecommuting          17393 non-null int64
has_company_logo       17393 non-null int64
has_questions          17393 non-null int64
employment_type        17393 non-null object
required_experience    10477 non-null object
required_education     9435 non-null object
industry               12584 non-null object
function               11069 non-null object
fraudulent             17393 non-null int64
dtypes: int64(4), object(13)
memory usage: 2.4+ MB

# 3)required experience

In [23]:
data['required_experience'].value_counts()

Mid-Senior level    3720
Entry level         2578
Associate           2233
Not Applicable      1059
Director             378
Internship           369
Executive            140
Name: required_experience, dtype: int64

In [24]:
data['required_experience'].isnull().sum()

6916

In [25]:
data['required_experience'].fillna('Mid-Senior level',inplace=True)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17393 entries, 0 to 17879
Data columns (total 17 columns):
title                  17393 non-null object
location               17052 non-null object
department             17393 non-null object
salary_range           2798 non-null object
company_profile        14140 non-null object
description            17392 non-null object
requirements           14760 non-null object
benefits               10359 non-null object
telecommuting          17393 non-null int64
has_company_logo       17393 non-null int64
has_questions          17393 non-null int64
employment_type        17393 non-null object
required_experience    17393 non-null object
required_education     9435 non-null object
industry               12584 non-null object
function               11069 non-null object
fraudulent             17393 non-null int64
dtypes: int64(4), object(13)
memory usage: 2.4+ MB

In [27]:
data['required_experience']=data['required_experience'].str.replace(' ','_')
data['required_experience']=data['required_experience'].str.replace('-','_')
data['required_experience']=data['required_experience'].str.lower()

In [30]:
data['required_experience'].value_counts()

mid_senior_level    10636
entry_level          2578
associate            2233
not_applicable       1059
director              378
internship            369
executive             140
Name: required_experience, dtype: int64

In [31]:
data.head(10)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,Marketing Intern,"US, NY, New York",marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,other,internship,NaN,NaN,Marketing,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,full_time,not_applicable,NaN,Marketing and Advertising,Customer Service,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",sales,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,full_time,mid_senior_level,NaN,NaN,NaN,0
3,Account Executive - Washington DC,"US, DC, Washington",sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,full_time,mid_senior_level,Bachelor's Degree,Computer Software,Sales,0
4,Bill Review Manager,"US, FL, Fort Worth",sales,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,full_time,mid_senior_level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
5,Accounting Clerk,"US, MD,",sales,NaN,NaN,Job OverviewApex is an environmental consultin...,NaN,NaN,0,0,0,full_time,mid_senior_level,NaN,NaN,NaN,0
6,Head of Content (m/f),"DE, BE, Berlin",androidpit,20000-28000,"Founded in 2009, the Fonpit AG rose with its i...",Your Responsibilities: Manage the English-spea...,Your Know-How: ...,Your Benefits: Being part of a fast-growing co...,0,1,1,full_time,mid_senior_level,Master's Degree,Online Media,Management,0
7,Lead Guest Service Specialist,"US, CA, San Francisco",sales,NaN,Airenvy’s mission is to provide lucrative yet ...,Who is Airenvy?Hey there! We are seasoned entr...,"Experience with CRM software, live chat, and p...",Competitive Pay. You'll be able to eat steak e...,0,1,1,full_time,mid_senior_level,NaN,NaN,NaN,0
8,HP BSM SME,"US, FL, Pensacola",sales,NaN,Solutions3 is a woman-owned small business who...,Implementation/Configuration/Testing/Training ...,MUST BE A US CITIZEN.An active TS/SCI clearanc...,NaN,0,1,1,full_time,associate,NaN,Information Technology and Services,NaN,0
9,Customer Service Associate - Part Time,"US, AZ, Phoenix",sales,NaN,"Novitex Enterprise Solutions, formerly Pitney ...",The Customer Service Associate will be based i...,Minimum Requirements:Minimum of 6 months custo...,NaN,0,1,0,part_time,entry_level,High School or equivalent,Financial Services,Customer Service,0

# 4)required education

In [32]:
data['required_education'].value_counts()

Bachelor's Degree                    5038
High School or equivalent            1933
Unspecified                          1344
Master's Degree                       411
Associate Degree                      262
Certification                         161
Some College Coursework Completed      98
Professional                           73
Vocational                             47
Some High School Coursework            27
Doctorate                              26
Vocational - HS Diploma                 9
Vocational - Degree                     6
Name: required_education, dtype: int64

In [33]:
data['required_education'].isnull().sum()

7958

In [34]:
data['required_education'].fillna("Bachelor's Degree",inplace=True)

In [35]:
data['required_education']=data['required_education'].str.replace("'",'')
data['required_education']=data['required_education'].str.replace(' - ','_')
data['required_education']=data['required_education'].str.replace(" ",'_')
data['required_education']=data['required_education'].str.lower()
data['required_education'].value_counts()

bachelors_degree                     12996
high_school_or_equivalent             1933
unspecified                           1344
masters_degree                         411
associate_degree                       262
certification                          161
some_college_coursework_completed       98
professional                            73
vocational                              47
some_high_school_coursework             27
doctorate                               26
vocational_hs_diploma                    9
vocational_degree                        6
Name: required_education, dtype: int64

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17393 entries, 0 to 17879
Data columns (total 17 columns):
title                  17393 non-null object
location               17052 non-null object
department             17393 non-null object
salary_range           2798 non-null object
company_profile        14140 non-null object
description            17392 non-null object
requirements           14760 non-null object
benefits               10359 non-null object
telecommuting          17393 non-null int64
has_company_logo       17393 non-null int64
has_questions          17393 non-null int64
employment_type        17393 non-null object
required_experience    17393 non-null object
required_education     17393 non-null object
industry               12584 non-null object
function               11069 non-null object
fraudulent             17393 non-null int64
dtypes: int64(4), object(13)
memory usage: 2.4+ MB

# 5)function

In [37]:
data['function'].value_counts()

Information Technology    1711
Sales                     1435
Engineering               1316
Customer Service          1130
Marketing                  806
Administrative             608
Design                     333
Education                  323
Health Care Provider       321
Other                      319
Management                 296
Business Development       226
Accounting/Auditing        206
Human Resources            200
Project Management         181
Finance                    165
Consulting                 135
Art/Creative               131
Writing/Editing            131
Production                 115
Product Management         113
Quality Assurance          110
Advertising                 89
Business Analyst            82
Data Analyst                82
Public Relations            75
Manufacturing               73
General Business            68
Research                    49
Strategy/Planning           46
Legal                       40
Training                    37
Supply Chain                36
Financial Analyst           28
Distribution                24
Purchasing                  15
Science                     14
Name: function, dtype: int64

In [38]:
data['function'].isnull().sum()

6324

In [39]:
data['function'].fillna('Information Technology',inplace=True)

In [40]:
data['function']=data['function'].str.replace(' ','_')
data['function']=data['function'].str.replace('/','_')
data['function']=data['function'].str.lower()
data['function'].value_counts()

information_technology    8035
sales                     1435
engineering               1316
customer_service          1130
marketing                  806
administrative             608
design                     333
education                  323
health_care_provider       321
other                      319
management                 296
business_development       226
accounting_auditing        206
human_resources            200
project_management         181
finance                    165
consulting                 135
art_creative               131
writing_editing            131
production                 115
product_management         113
quality_assurance          110
advertising                 89
business_analyst            82
data_analyst                82
public_relations            75
manufacturing               73
general_business            68
research                    49
strategy_planning           46
legal                       40
training                    37
supply_chain                36
financial_analyst           28
distribution                24
purchasing                  15
science                     14
Name: function, dtype: int64

# Industry

In [41]:
data['industry'].value_counts() #its also a categorical feature.

Information Technology and Services    1690
Computer Software                      1350
Internet                               1047
Education Management                    815
Marketing and Advertising               807
Financial Services                      708
Hospital & Health Care                  479
Consumer Services                       343
Telecommunications                      306
Oil & Energy                            275
Retail                                  222
Real Estate                             164
Accounting                              158
Construction                            151
E-Learning                              136
Design                                  127
Staffing and Recruiting                 127
Management Consulting                   126
Insurance                               120
Health, Wellness and Fitness            120
Automotive                              115
Logistics and Supply Chain              110
Human Resources                         102
Online Media                            100
Apparel & Fashion                        93
Legal Services                           92
Hospitality                              87
Computer Games                           86
Facilities Services                      85
Banking                                  83
                                       ...
Investment Management                     6
Motion Pictures and Film                  6
Capital Markets                           5
Packaging and Containers                  5
Animation                                 5
Package/Freight Delivery                  5
Import and Export                         5
Primary/Secondary Education               5
Philanthropy                              4
Luxury Goods & Jewelry                    4
Fishery                                   4
Commercial Real Estate                    4
Investment Banking                        4
Wireless                                  4
Performing Arts                           3
Furniture                                 3
Public Policy                             3
Plastics                                  3
Maritime                                  3
Mining & Metals                           3
Textiles                                  2
Libraries                                 2
Military                                  2
Nanotechnology                            2
Shipbuilding                              1
Wine and Spirits                          1
Ranching                                  1
Museums and Institutions                  1
Alternative Dispute Resolution            1
Sporting Goods                            1
Name: industry, Length: 131, dtype: int64

In [42]:
data['industry'].fillna('Information Technology and Services',inplace=True)

In [43]:
data['industry'].value_counts().sum() #null values have been filled

17393

In [44]:
data['industry'].value_counts()[:20]

Information Technology and Services    6499
Computer Software                      1350
Internet                               1047
Education Management                    815
Marketing and Advertising               807
Financial Services                      708
Hospital & Health Care                  479
Consumer Services                       343
Telecommunications                      306
Oil & Energy                            275
Retail                                  222
Real Estate                             164
Accounting                              158
Construction                            151
E-Learning                              136
Design                                  127
Staffing and Recruiting                 127
Management Consulting                   126
Insurance                               120
Health, Wellness and Fitness            120
Name: industry, dtype: int64

In [45]:
data['industry']=data['industry'].str.replace(' ','')
data['industry']=data['industry'].str.replace('&','_')
data['industry']=data['industry'].str.replace(',','_')
data['industry']=data['industry'].str.replace('-','_')
data['industry']=data['industry'].str.replace('/','_')
data['industry']=data['industry'].str.lower()
data['industry'].value_counts()[:20]

informationtechnologyandservices    6499
computersoftware                    1350
internet                            1047
educationmanagement                  815
marketingandadvertising              807
financialservices                    708
hospital_healthcare                  479
consumerservices                     343
telecommunications                   306
oil_energy                           275
retail                               222
realestate                           164
accounting                           158
construction                         151
e_learning                           136
design                               127
staffingandrecruiting                127
managementconsulting                 126
insurance                            120
health_wellnessandfitness            120
Name: industry, dtype: int64

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17393 entries, 0 to 17879
Data columns (total 17 columns):
title                  17393 non-null object
location               17052 non-null object
department             17393 non-null object
salary_range           2798 non-null object
company_profile        14140 non-null object
description            17392 non-null object
requirements           14760 non-null object
benefits               10359 non-null object
telecommuting          17393 non-null int64
has_company_logo       17393 non-null int64
has_questions          17393 non-null int64
employment_type        17393 non-null object
required_experience    17393 non-null object
required_education     17393 non-null object
industry               17393 non-null object
function               17393 non-null object
fraudulent             17393 non-null int64
dtypes: int64(4), object(13)
memory usage: 2.4+ MB

# complex features

In [45]:
data.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,Marketing Intern,"US, NY, New York",marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,other,internship,bachelors_degree,informationtechnologyandservices,marketing,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,full_time,not_applicable,bachelors_degree,marketingandadvertising,customer_service,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",sales,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0
3,Account Executive - Washington DC,"US, DC, Washington",sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,full_time,mid_senior_level,bachelors_degree,computersoftware,sales,0
4,Bill Review Manager,"US, FL, Fort Worth",sales,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,full_time,mid_senior_level,bachelors_degree,hospital_healthcare,health_care_provider,0

# 1)Location

In [47]:
data['location'].value_counts()

GB, LND, London               716
US, NY, New York              626
US, CA, San Francisco         462
GR, I, Athens                 458
US, ,                         338
US, TX, Houston               258
US, IL, Chicago               246
US, DC, Washington            246
DE, BE, Berlin                219
NZ, N, Auckland               217
US, CA, Los Angeles           179
GB, , London                  176
US, TX, Austin                173
US, CA, San Diego             160
GB, ,                         138
GB, LND,                      131
US, GA, Atlanta               128
US, OR, Portland              124
US, MA, Boston                116
US, PA, Philadelphia          114
US, MI, Detroit               112
CA, ON, Toronto               112
US, NY, Brooklyn              105
US, TX, Dallas                100
GR, ,                          94
US, OH, Cleveland              93
US, OH, Cincinnati             89
US, NC, Charlotte              87
US, NY, New York City          85
US, MO, St. Louis              82
                             ...
US, CA, 96080                   1
US, CA, Rosemead                1
US, NV, Primm                   1
IE, , City                      1
GB, NYK,   HG2 7NR              1
US, LA, Eunice                  1
US, NJ, Montclair               1
US, NY, Purchase                1
CA, , Ottawa                    1
US, , Cassopolis                1
US, OK, TULSA                   1
US, MI, Mt. Pleasant            1
GR, J, Corinth                  1
GB, BPL,                        1
US, NJ, Somerset                1
FI, LS, Turku                   1
US, WI, Western Wisconsin       1
US, DC, Washington, D.C.        1
KE, , Nai                       1
ZA, GT, Benoni                  1
CA, ON, Strathroy               1
US, NJ, Brunswick               1
US, MI, Milford Township        1
GB, IOW, East Cowes             1
MX, MEX, Mexico                 1
US, MD, Woodlawn                1
US, NY, new                     1
US, CA,  San Francisco          1
US, TX, AUS/SAT                 1
US, OH, cincinnati              1
Name: location, Length: 3105, dtype: int64

In [48]:
data['location']=data['location'].str.replace(' ','')
data['location']=data['location'].str.replace(',','_')
data['location']=data['location'].str.replace('__','')
data['location']=data['location'].str.replace('.','')
data['location']=data['location'].str.replace('/','_')
data['location']=data['location'].str.replace('-','_')
data['location']=data['location'].str.strip()
data['location']=data['location'].str.lower()
data['location'].value_counts()

gb_lnd_london                                748
us_ny_newyork                                660
us_ca_sanfrancisco                           478
gr_i_athens                                  471
us                                           398
us_tx_houston                                266
us_il_chicago                                263
us_dc_washington                             250
nz_n_auckland                                224
de_be_berlin                                 221
us_ca_losangeles                             197
us_tx_austin                                 190
gblondon                                     182
us_ca_sandiego                               167
gb                                           148
us_ga_atlanta                                147
gb_lnd_                                      131
us_or_portland                               124
us_pa_philadelphia                           124
us_ma_boston                                 122
us_tx_dallas                                 115
us_mi_detroit                                114
ca_on_toronto                                112
us_ny_brooklyn                               107
gr                                            97
us_oh_cleveland                               93
us_oh_cincinnati                              90
us_mo_stlouis                                 89
us_nc_charlotte                               88
us_ny_newyorkcity                             87
                                            ...
us_fl_tampabayarea                             1
gb_fif_edinburgh                               1
us_wi_appleton                                 1
gbvarious                                      1
us_ca_sacaramento                              1
nz_n_masterton                                 1
us_ms_jackson                                  1
us_ok_chickasha                                1
cn_11_beijing                                  1
ee                                             1
us_in_mountvernon                              1
us_fl_33308                                    1
dk_84_copenhagenø                              1
us_il_crete                                    1
us_tx_grapvevine                               1
us_fl_sfloridaarea                             1
eg_c_nasrcity                                  1
gb_edh_edinburghcentral_southandsoutheast      1
us_ca_la                                       1
us_dc_districtofcolumbia                       1
us_oh_newyork                                  1
us_il_melrosepark                              1
us_va_woodbridge                               1
us_or_nwportland&hillsboro                     1
us_id_twinfalls                                1
us_il_mascoutah                                1
us_ma_harwich                                  1
us_nm_riorancho                                1
gbpontefract                                   1
us_mt_helena                                   1
Name: location, Length: 2772, dtype: int64

# preprocess the text features

In [51]:
import re
stopwords= ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"]

In [52]:
from tqdm import tqdm
def preprocess_text(text_data):
    preprocessed_text = []
    # tqdm is for printing the status bar
    for sentance in tqdm(text_data):
        sentance = str(sentance).replace('\\r', ' ')
        sentance = str(sentance).replace('\\n', ' ')
        sentance = str(sentance).replace('\\"', ' ')
        sentance = re.sub('[^A-Za-z0-9]+', ' ', sentance)
        # https://gist.github.com/sebleier/554280
        sentance = ' '.join(e for e in sentance.split() if e.lower() not in stopwords)
        preprocessed_text.append(sentance.lower().strip())
    return preprocessed_text

# Title(text feature)

In [53]:
print("printing some random reviews")
print(9, data['title'].values[1])
print(34, data['title'].values[2])
print(147, data['title'].values[147])

printing some random reviews
9 Customer Service - Cloud Video Production
34 Commissioning Machinery Assistant (CMA)
147 UI/UX developer at StartTech Ventures

lets check if there are any null values in the column 'Title'

In [54]:
data['title'].isnull().sum()

0

there are no null values in the 'title' column

In [55]:
data['title']=preprocess_text(data['title'])

100%|█████████████████████████████████████████████████████████████████████████| 17393/17393 [00:00<00:00, 69059.87it/s]

In [56]:
print("printing some random reviews")
print(1, data['title'].values[1])
print(2, data['title'].values[2])
print(147, data['title'].values[147])

printing some random reviews
1 customer service cloud video production
2 commissioning machinery assistant cma
147 ui ux developer starttech ventures

In [67]:
data.head(5)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,marketing intern,us_ny_newyork,marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,other,internship,bachelors_degree,informationtechnologyandservices,marketing,0
1,customer service cloud video production,nzauckland,success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,full_time,not_applicable,bachelors_degree,marketingandadvertising,customer_service,0
2,commissioning machinery assistant cma,us_ia_wever,sales,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0
3,account executive washington dc,us_dc_washington,sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,full_time,mid_senior_level,bachelors_degree,computersoftware,sales,0
4,bill review manager,us_fl_fortworth,sales,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,full_time,mid_senior_level,bachelors_degree,hospital_healthcare,health_care_provider,0

# 2)company_profile

In [57]:
data['company_profile'].isnull().sum()

3253

In [58]:
data['company_profile'].fillna('unspecified',inplace=True)

In [59]:
print("printing some random reviews")
print(9, data['company_profile'].values[0])
print(''*50)
print(34, data['company_profile'].values[2])
print(''*50)
print(147, data['company_profile'].values[147])

printing some random reviews
9 We're Food52, and we've created a groundbreaking and award-winning cooking site. We support, connect, and celebrate home cooks, and give them everything they need in one place.We have a top editorial, business, and engineering team. We're focused on using technology to find new and better ways to connect people around their specific food interests, and to offer them superb, highly curated information about food and cooking. We attract the most talented home cooks and contributors in the country; we also publish well-known professionals like Mario Batali, Gwyneth Paltrow, and Danny Meyer. And we have partnerships with Whole Foods Market and Random House.Food52 has been named the best food website by the James Beard Foundation and IACP, and has been featured in the New York Times, NPR, Pando Daily, TechCrunch, and on the Today Show.We're located in Chelsea, in New York City.

34 Valor Services provides Workforce Solutions that meet the needs of companies across the Private Sector, with a special focus on the Oil &amp; Gas Industry. Valor Services will be involved with you throughout every step of the hiring process and remain in contact with you all the way through the final step of signing of the employment contract with your new employer. Valor Services was founded with the vision of employing the unique skills, experiences, and qualities of America’s finest veterans to provide Private Sector companies with precise and concerted value-added services – and America’s finest Veterans with an optimized career opportunity.We are eager to get the word out to veterans that there are ample opportunities for employment in the private sector and that you are the ideal candidates to fill those positions. Valor Services Your Success is Our Mission. ™

147 StartTech Ventures is the investment &amp; incubation arm of the Materializing Innovation Group and has three functions: Seed Fund, Incubator and Business Angel Network. We build on the experience its people gained out of starting Virtual Trip, the first successful student start-up in Greece, spinning out more than 10 high-tech companies and creating a next generation startup accelerator via introducing the "Entrepreneurial Ecosystem" concept; supporting high-growth businesses to take advantage of economies of scale without compromising flexibility and strong entrepreneurial drive. Our portfolio includes amazing tech companies such as eFront e-Learning, AbZorba Games, TalentLMS, Psycholate and SOLO Gateway. We publish job openings both for the StartTech Ventures incubator and the CoLab Athens coworking space as well as for our posrtfolio companies.

In [ ]:
data['company_profile']=preprocess_text(data['company_profile'])

In [103]:
def preprocess_text(text_data):
    preprocessed_text = []
    # tqdm is for printing the status bar
    for sentance in tqdm(text_data):
        sentance = str(sentance).replace('\\r', ' ')
        sentance = str(sentance).replace('\\n', ' ')
        sentance = str(sentance).replace('\\"', ' ')
        sentance = re.sub('[^A-Za-z0-9]+', ' ', sentance)
        # https://gist.github.com/sebleier/554280
        sentance = ' '.join(e for e in sentance.split() if e.lower() not in stopwords)
        preprocessed_text.append(sentance.lower().strip())
    return preprocessed_text


for sentance in tqdm(data['company_profile'].values):
    phrase = re.sub(r"won't", "will not", sentance)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    phrase = phrase.replace('\\r', ' ')
    phrase = phrase.replace('\\n', ' ')
    phrase = phrase.replace('\\"', ' ')
    phrase = re.sub('[^A-Za-z0-9]+', ' ', phrase)
    # https://gist.github.com/sebleier/554280
    phrase = ' '.join(e for e in phrase.split() if e.lower() not in stopwords)
    list1.append(phrase.lower().strip())
    list1.append(phrase)

100%|██████████████████████████████████████████████████████████████████████████| 17393/17393 [00:04<00:00, 4016.40it/s]

In [122]:
print(list1[1])

Food52 created groundbreaking award winning cooking site support connect celebrate home cooks give everything need one place top editorial business engineering team focused using technology find new better ways connect people around specific food interests offer superb highly curated information food cooking attract talented home cooks contributors country also publish well known professionals like Mario Batali Gwyneth Paltrow Danny Meyer partnerships Whole Foods Market Random House Food52 named best food website James Beard Foundation IACP featured New York Times NPR Pando Daily TechCrunch Today Show located Chelsea New York City

In [120]:
data['company_profile'][0]

"We're Food52, and we've created a groundbreaking and award-winning cooking site. We support, connect, and celebrate home cooks, and give them everything they need in one place.We have a top editorial, business, and engineering team. We're focused on using technology to find new and better ways to connect people around their specific food interests, and to offer them superb, highly curated information about food and cooking. We attract the most talented home cooks and contributors in the country; we also publish well-known professionals like Mario Batali, Gwyneth Paltrow, and Danny Meyer. And we have partnerships with Whole Foods Market and Random House.Food52 has been named the best food website by the James Beard Foundation and IACP, and has been featured in the New York Times, NPR, Pando Daily, TechCrunch, and on the Today Show.We're located in Chelsea, in New York City."

In [110]:
data['company_profile_cleaned']=pd.Series(list1)

In [111]:
data.head(5)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,sudhi,company_profile_cleaned
0,marketing intern,us_ny_newyork,marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,other,internship,bachelors_degree,informationtechnologyandservices,marketing,0,food52 created groundbreaking award winning co...,food52 created groundbreaking award winning co...
1,customer service cloud video production,nzauckland,success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,full_time,not_applicable,bachelors_degree,marketingandadvertising,customer_service,0,Food52 created groundbreaking award winning co...,Food52 created groundbreaking award winning co...
2,commissioning machinery assistant cma,us_ia_wever,sales,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,90 seconds worlds cloud video production servi...,90 seconds worlds cloud video production servi...
3,account executive washington dc,us_dc_washington,sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,full_time,mid_senior_level,bachelors_degree,computersoftware,sales,0,90 Seconds worlds Cloud Video Production Servi...,90 Seconds worlds Cloud Video Production Servi...
4,bill review manager,us_fl_fortworth,sales,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,full_time,mid_senior_level,bachelors_degree,hospital_healthcare,health_care_provider,0,valor services provides workforce solutions me...,valor services provides workforce solutions me...

In [112]:
data=data.drop('sudhi',axis=1)

In [114]:
data.columns

Index(['title', 'location', 'department', 'salary_range', 'company_profile',
       'description', 'requirements', 'benefits', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent', 'company_profile_cleaned'],
      dtype='object')

In [116]:
data.drop('company_profile',axis=1)

,title,location,department,salary_range,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,company_profile_cleaned
0,marketing intern,us_ny_newyork,marketing,NaN,"Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,other,internship,bachelors_degree,informationtechnologyandservices,marketing,0,food52 created groundbreaking award winning co...
1,customer service cloud video production,nzauckland,success,NaN,Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,full_time,not_applicable,bachelors_degree,marketingandadvertising,customer_service,0,Food52 created groundbreaking award winning co...
2,commissioning machinery assistant cma,us_ia_wever,sales,NaN,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,90 seconds worlds cloud video production servi...
3,account executive washington dc,us_dc_washington,sales,NaN,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,full_time,mid_senior_level,bachelors_degree,computersoftware,sales,0,90 Seconds worlds Cloud Video Production Servi...
4,bill review manager,us_fl_fortworth,sales,NaN,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,full_time,mid_senior_level,bachelors_degree,hospital_healthcare,health_care_provider,0,valor services provides workforce solutions me...
5,accounting clerk,us_md_,sales,NaN,Job OverviewApex is an environmental consultin...,NaN,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,Valor Services provides Workforce Solutions me...
6,head content f,de_be_berlin,androidpit,20000-28000,Your Responsibilities: Manage the English-spea...,Your Know-How: ...,Your Benefits: Being part of a fast-growing co...,0,1,1,full_time,mid_senior_level,masters_degree,onlinemedia,management,0,passion improving quality life geography heart...
7,lead guest service specialist,us_ca_sanfrancisco,sales,NaN,Who is Airenvy?Hey there! We are seasoned entr...,"Experience with CRM software, live chat, and p...",Competitive Pay. You'll be able to eat steak e...,0,1,1,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,passion improving quality life geography heart...
8,hp bsm sme,us_fl_pensacola,sales,NaN,Implementation/Configuration/Testing/Training ...,MUST BE A US CITIZEN.An active TS/SCI clearanc...,NaN,0,1,1,full_time,associate,bachelors_degree,informationtechnologyandservices,information_technology,0,spotsource solutions llc global human capital ...
9,customer service associate part time,us_az_phoenix,sales,NaN,The Customer Service Associate will be based i...,Minimum Requirements:Minimum of 6 months custo...,NaN,0,1,0,part_time,entry_level,high_school_or_equivalent,financialservices,customer_service,0,SpotSource Solutions LLC Global Human Capital ...
10,asp net developer job opportunity united state...,us_nj_jerseycity,sales,100000-120000,Position : #URL_86fd830a95a64e2b30ceed829e63fd...,Position : #URL_86fd830a95a64e2b30ceed829e63fd...,Benefits - FullBonus Eligible - YesInterview T...,0,0,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,unspecified
11,talent sourcer 6 months fixed term contract,gb_lnd_london,hr,NaN,TransferWise is the clever new way to move mon...,We’re looking for someone who:Proven track rec...,You will join one of Europe’s most hotly tippe...,0,1,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,unspecified
12,applications developer digital,us_ct_stamford,sales,NaN,"The Applications Developer, Digital will devel...",Requirements:4 – 5 years’ experience in develo...,NaN,0,1,0,full_time,associate,bachelors_degree,managementconsulting,information_technology,0,founded 2009 fonpit ag rose international web ...
13,installers,us_fl_orlando,sales,NaN,"Event Industry Installers Needed!! (Orlando, F...","Valid driver's license,Somewhat Clean driving ...",NaN,0,1,1,full_time,not_applicable,unspecified,eventsservices,other,0,Founded 2009 Fonpit AG rose international web ...
14,account executive sydney,au_nsw_sydney,sales,NaN,Are you interested in a satisfying and financi...,You’ll need to be smart and passionate and hav...,"In return we'll pay you well, give you some ow...",0,1,0,full_time,associate,bachelors_degree,internet,sales,0,airenvy mission provide lucrative yet hassle f...
15,vp sales vault dragon,sg_01_singapore,sales,120000-150000,About Vault Dragon Vault Dragon is Dropbox for...,Key Superpowers3-5 years of high-pressure sale...,"Basic: SGD 120,000Equity negotiable for a rock...",0,1,1,full_time,executive,bachelors_degree,facilitiesservices,sales,0,Airenvy mission provide lucrative yet hassle f...
16,hands qa leader,iltelaviv_israel,rd,NaN,We are looking for a Hands-On QA Leader for ou...,Previous experience in client &amp; server tes...,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,internet,engineering,0,solutions3 woman owned small business whose fo...
17,southend sea traineeships nas 16 18 year olds,gb_sos_southend_on_sea,sales,NaN,Government funding is only available for 16-18...,16-18 year olds only due to government funding...,Career prospects.,0,1,1,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,Solutions3 woman owned small business whose fo...
18,visual designer,us_ny_newyork,sales,NaN,Kettle is hiring a Visual Designer!Job Locatio...,NaN,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,novitex enterprise solutions formerly pitney b...
19,process controls engineer dcs plc ms office pa,us_pa_usanortheast,sales,NaN,Experienced Process Controls Engineer is requi...,Must have 5 or more years of experience with D...,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,Novitex Enterprise Solutions formerly Pitney B...
20,marketing assistant,us_tx_austin,sales,NaN,IntelliBright is growing fast and is looking f...,Job RequirementsAssist in creating client onli...,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,marketing,0,unspecified
21,front end developer,nz_n_auckland,sales,NaN,Want to be part of a globally focused tech tea...,You will most likely have:A solid mastery of m...,You will be part of an awesome team of innovat...,0,1,0,full_time,mid_senior_level,masters_degree,consumerelectronics,engineering,0,unspecified
22,engagement manager,ae,engagement,NaN,The position reports to the Head of Engagement...,RequirementsThe ideal candidate will be bright...,Salary &amp; BenefitsThe opportunity to learn ...,0,1,1,full_time,mid_senior_level,bachelors_degree,telecommunications,sales,0,want build 21st century financial service conv...
23,vice president sales sponsorship businessfrien...,us_ca_carlsbad,businessfriend_com,100000-120000,#URL_eda2500ddcedb60957fcd7f5b164e092966f8c4e8...,"Job Requirements:A reputation as a ""go-getter""...",Businessfriend will offer a competitive six fi...,0,1,0,full_time,executive,unspecified,internet,sales,0,Want build 21st century financial service conv...
24,customer service,gb_lnd_london,sales,NaN,We are a canary wharf based e-commerce company...,NaN,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,novitex enterprise solutions formerly pitney b...
25,h1b sponsor l1 l2 opt,us_ny_newyork,sales,NaN,"Hello,Wish you are doing good... ...","JAVA, .NET, SQL, ORACLE, SAP, Informatica, Big...",NaN,0,1,1,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,Novitex Enterprise Solutions formerly Pitney B...
26,marketing exec,sg,marketing,NaN,We are currently expanding our Marketing Depar...,"This position is Junior to Mid level. Ideally,...",We are looking for Singaporean residents or in...,0,1,0,full_time,associate,bachelors_degree,onlinemedia,marketing,0,growing event production company providing sta...
27,haad dha licensed doctors opening uae,ae_az_abudhabi,medical,NaN,HAAD/DHA Licensed Doctors Opening in UAEWe the...,RequirementsEndocrinologistGastroenterologistC...,Our client is one of the reputed and leading H...,0,1,0,full_time,associate,masters_degree,hospital_healthcare,health_care_provider,0,Growing event production company providing sta...
28,talent management process manager,us_mo_stlouis,sales,NaN,(We have more than 1500+ Job openings in our w...,NaN,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,managementconsulting,information_technology,0,adthena uk leading competitive intelligence se...
29,customer service associate,ca_on_toronto,sales,NaN,The Customer Service Associate will be based i...,Minimum Requirements:Minimum of 1 year custome...,NaN,0,1,0,full_time,entry_level,high_school_or_equivalent,consumerservices,administrative,0,Adthena UK leading competitive intelligence se...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17850,north west level 2 3 dgv nvq assessors,gb_man_manchester,sales,NaN,We are looking for experienced assessor in the...,"Assessor Award (A1, TAQA, etc) Own transport.",NaN,0,1,1,full_time,associate,vocational,logisticsandsupplychain,training,0,intellibright created leverage enterprise leve...
17851,warehouse operator material handler,us_ia_cedarrapids,sales,NaN,Red Star Yeast Co. LLC in Cedar Rapids is now ...,Requires ability to become forklift certified....,"Shift Schedule: Day Shift Monday – Friday, wit...",0,1,1,full_time,entry_level,high_school_or_equivalent,foodproduction,supply_chain,0,IntelliBright created leverage enterprise leve...
17852,gwt expert,fiturku,sales,NaN,GWT ExpertWe are experiencing a rapid worldwid...,NaN,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,vend looking awesome new talent come join us w...
17853,call center customer service,us_nj_newark,customer_service,NaN,At Command we care enough to consistently plac...,Responsibilities:Determines requirements by wo...,Benefits:15/hr (non-negotiable)Medical/dental ...,0,1,1,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,Vend looking awesome new talent come join us w...
17854,talent management process manager,us_oh_cincinnati,sales,NaN,(We have more than 1500+ Job openings in our w...,NaN,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,lakshya digital one largest game development i...
17855,android engineer,us_ca_sanfrancisco,engineering,NaN,What we're looking for:You've been an integral...,Track record of developing native Android appl...,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,engineering,0,Lakshya Digital one largest Game Development I...
17856,web developer marketing,ie_l_dublin,sales,NaN,Intercom (#URL_cb674f93cbcd215a3a0a57a8615a565...,Must haves:You will be an expert in turning wi...,"Work on great hardware (macbook air or pro, wi...",0,1,0,full_time,not_applicable,bachelors_degree,computersoftware,information_technology,0,help teachers get safe amp secure jobs abroad
17857,chief technology officer cto fast growing hosp...,gr_i_kifissia,sales,NaN,If you want to join a fast growing start-up as...,To be able to lead the technical side of our s...,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,hospitality,information_technology,0,help teachers get safe amp secure jobs abroad
17858,pharmaceutical senior project manager consultant,us_pa_horsham,sales,NaN,Our Pharmaceutical client has engaged us to pr...,Job RequirementsThe ideal candidate will be a ...,NaN,0,1,0,contract,mid_senior_level,bachelors_degree,pharmaceuticals,project_management,0,novitex enterprise solutions formerly pitney b...
17859,immediate requirement ios developer qatar,qa_da_,sales,NaN,Greetings from VAM SYSTEMS…..VAM SYSTEMS is a ...,"iOS programming “Objective – C “, C++#URL_01a...",NaN,0,0,1,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,Novitex Enterprise Solutions formerly Pitney B...
17860,sr sql server dba,us_ca_bayarea,sales,NaN,Position: Sr. SQL Server DBALocation: Bay Area...,Provide 24x7 on-call support,NaN,0,1,0,contract,mid_senior_level,unspecified,informationtechnologyandservices,information_technology,0,established principles full time education not...
17861,junior embedded engineer,gr_a_komotini,sales,NaN,WHO WE ARETribe Wearables is a venture-backed ...,Skills we are looking for:BSc degree in Comput...,Fun and stimulating working environmentWork wi...,0,1,0,full_time,entry_level,bachelors_degree,computerhardware,engineering,0,Established principles full time education not...
17862,clinical supervisor,us_sc_greenville,sales,NaN,Crossroads Treatment Centers in South Carolina...,Four-year degree in counseling or related fiel...,Crossroads offers a comprehensive benefits pac...,0,1,1,full_time,associate,bachelors_degree,medicalpractice,health_care_provider,0,novitex enterprise solutions formerly pitney b...
17863,implementation support specialist,us_ia_dubuque,services,NaN,WANTED: an Implementation Support Specialist w...,Who you are…• You know the ins-and-outs of Mic...,NaN,0,1,0,full_time,mid_senior_level,bachelors_degree,computersoftware,information_technology,0,Novitex Enterprise Solutions formerly Pitney B...
17864,next generation depth sensing,us_ma_cambridge,mm,NaN,MERL is looking for a well qualified individua...,NaN,NaN,0,1,1,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,netigate leading european provider cloud based...
17865,portfolio development associate paris rest france,gb_lnd_london,sales,18000-20000,"AvenueStory is looking for a curious, ambitiou...","Comfortable on the phone, fluent in French and...","Working within a small, young dynamic team in ...",0,1,1,full_time,entry_level,bachelors_degree,realestate,sales,0,Netigate leading European provider cloud based...
17866,post production editor,us_ia_westdesmoines,sales,NaN,Key Duties:• Rough cut shows on Adobe Premier ...,"Additional Duties:• Ingest, log and label foot...",Salary and benefits package is negotiable base...,0,1,0,full_time,mid_senior_level,bachelors_degree,motionpicturesandfilm,production,0,csd csd not great place work also learn grow g...
17867,admin assistant,gb_wsx_chichester,sales,18000-19000,We are seeking an administrator to work in a b...,Proficient experience in Microsoft Word and Ex...,"Salary £18,000Commission available after quali...",0,1,0,full_time,entry_level,unspecified,humanresources,sales,0,CSD CSD not great place work also learn grow g...
17868,cnc programmer,us_oh_cincinnati,sales,NaN,(We have more than 1500+ Job openings in our w...,NaN,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,realscout salesforce zillow 50b residential re...
17869,sr technical lead lims,us_de_wilmington,sales,NaN,Job Title: Sr Technical LeadSalary: OpenDurat...,Responsibilities: He should be extensive knowl...,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,pharmaceuticals,information_technology,0,RealScout SalesForce Zillow 50B residential re...
17870,senior financial analyst retail,us_ca_gardena,sales,NaN,We are activity searching for a Senior Financi...,Must have a minimum of 3 + years in Financial ...,NaN,0,1,1,full_time,mid_senior_level,bachelors_degree,retail,financial_analyst,0,friend mts leading provider technology media e...
17871,water truck driver,us_pa_waynesburg,sales,NaN,Requires skilled work in operating commercial ...,GED or diploma required.Requires minimum of on...,NaN,0,1,1,full_time,mid_senior_level,bachelors_degree,oil_energy,information_technology,0,Friend MTS leading provider technology media e...
17872,product manager,us_ca_sanfrancisco,product_development,NaN,Flite's SaaS display ad platform fuels the wor...,BA/BS in Computer Science or a related technic...,Competitive baseAttractive stock option planMe...,0,1,0,full_time,mid_senior_level,bachelors_degree,internet,product_management,0,slable small consulting firm based woodbridge ...
17873,recruiting coordinator,us_nc_charlotte,sales,NaN,RESPONSIBILITIES:Will facilitate the recruitin...,REQUIRED SKILLS:Associates Degree or a combina...,NaN,0,1,0,contract,mid_senior_level,bachelors_degree,utilities,information_technology,0,Slable small consulting firm based Woodbridge ...
17874,javascript developer,us,sales,80000-100000,"Sr, JavaScript Developer Experience : 4-10 yea...",NaN,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,computersoftware,information_technology,0,founded 2010 team google london new york offic...
17875,account director distribution,ca_on_toronto,sales,NaN,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,full_time,mid_senior_level,bachelors_degree,computersoftware,sales,0,Founded 2010 team Google London New York offic...
17876,payroll accountant,us_pa_philadelphia,accounting,NaN,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,full_time,mid_senior_level,bachelors_degree,internet,accounting_auditing,0,le meridien situated heart kuala lumpur touris...
17877,project cost control staff engineer cost contr...,us_tx_houston,sales,NaN,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,full_time,mid_senior_level,bachelors_degree,informationtechnologyandservices,information_technology,0,Le Meridien situated heart kuala lumpur touris...
17878,graphic designer,ng_la_lagos,sales,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,contract,not_applicable,professional,graphicdesign,design,0,csd csd not great place work also learn grow g...
17879,web application developers,nz_n_wellington,engineering,NaN,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,full_time,mid_senior_level,bachelors_degree,computersoftware,engineering,0,CSD CSD not great place work also learn grow g...